body {
  padding: 1em;
}

#field {
  background-color: green;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

#field td {
  border: 2px solid #222222;
}

.stone {
  height: 3em;
  width: 3em;
}

.marked {
  background-color: magenta;
}

.placed {
  background-color: cyan;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

select {
  appearance: menulist-button;
  border: solid 1px;
  border-radius: 5px;
  background: lightgray;
  padding: 0.2em;
}

button {
  border: solid 1px;
  border-radius: 5px;
  background: lightgray;
  padding: 0.2em;
}

#control * {
  margin: 0.2em;
}

.vert {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#status > * {
  margin: 0.2em;
}

#log {
  height: 32em;
  background: lightgray;
  border: solid 1px;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  width: 10em;
  overflow: hidden;
  overflow-y: scroll;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: top;
}

#view-container {
  display:flex;
  justify-content:center;
  align-items: top;
  gap: 2em;
}

input {
  border: solid 1px;
}
